* {
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
}

html, body, body > div, .menu, .content {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  height: 55px;
  width: auto;
  background-color: #393939;
  color: #aaa;
  font-size: 14px;
  padding: 4px;
  border-bottom: 2px solid white;
}

.logo {
  float: left;
  width: 230px;
}

.logo img {
  width: 95%;
  margin: auto;
}

.title {
  float: left;
  width: auto;
  font-size: 26px;
  color: #ddd;
  font-weight: bold;
  padding-top: 12px;
}

.versions {
  float: right;
  width: auto;
  line-height: 55px;  /* align with title */
}

.versions p {
  margin: 0px;
  vertical-align: middle;
}
.versions a, .versions span {
  color: #aaa;
  text-decoration: none;
}
.versions a.active {
  color: #fff;
  font-weight: bold;
}

.versions span.version {
  color: #aa759f;
}

.content {
  height: calc(100% - 57px);
  background-color: #333;
}

iframe {
  height: 100%;
  width: 100%;
}
